<!doctype html>
<html>
    <head>
        <title>Troll Sport</title>
    </head>
    <body>

        <!--<script src="https://github.com/photonstorm/phaser-ce/releases/download/v2.7.5/phaser.min.js"></script-->
        <script src="js/phaser.min.js"></script>
        <script src="js/boot.js"></script>
        <script src="js/preload.js"></script>
        <script src="js/gametitle.js"></script>
        <script src="js/trollsport.js"></script>
        <script src="js/gameover.js"></script>
        <script>  
			(function() {
				var game = new Phaser.Game(800, 600, Phaser.AUTO, "");
				game.state.add("Boot",boot);
				game.state.add("Preload",preload);
				game.state.add("GameTitle",gameTitle);
				game.state.add("TrollSport",trollSport);
				//game.state.add("GameOver",gameOver);
				game.state.start("Boot");
			})(); 
            

            var game = new Phaser.Game(800, 600, Phaser.AUTO, '', { preload: preload, create: create, update: update, render: render });
    </script>
    </body>
</html>

