
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Craft Wealth</a>;
            </div>
        </div>
    </nav>