<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TETRIS</title>
</head>

<body style="margin:0px auto;">
<header><% include ../../partials/header %></header>
HELLO WORLD
</body>
</html>