<SCRIPT LANGUAGE="JavaScript">
    function boule(){
        document.location.href="http://localhost:3000/jeux/anthony/boule"
    };

    function puzzle(){
        document.location.href="http://localhost:3000/jeux/anthony/phaser"
    }

    function invaders(){
        document.location.href="http://localhost:3000/jeux/anthony/catInvaders"
    }
</SCRIPT>

<p><a href="/users/logout">Log out</a></p>
<p><a href="/jeux/">Précédent</a></p>

<button id="anthony" onClick="boule()"> Jeux de boule</button>
<button id="anthony" onClick="puzzle()"> Puzzle Chat </button>
<button id="anthony" onClick="invaders()"> Cat invaders </button>