<SCRIPT LANGUAGE="JavaScript">
    function anthony(){
     document.location.href="http://localhost:3000/jeux/anthony"
    }
</SCRIPT>
<p><a href="/users/logout">Log out</a></p>

<br>
LISTE DES JEUX ITECHSUP
<BR>
<br>


<button id="anthony" onClick="anthony()"> Jeux Anthony </button>


<br>
<br>

<img src="http://thecatapi.com/api/images/get?format=src&type=gif">