<SCRIPT LANGUAGE="JavaScript">
    function anthony(){
     document.location.href="http://localhost:3000/jeux/anthony"
    };

    function clement(){
        document.location.href="http://localhost:3000/jeux/Tetris"
    }
</SCRIPT>
<p><a href="/users/logout">Log out</a></p>
<p><a href="/home">Précédent</a></p>

<br>
LISTE DES JEUX ITECHSUP
<BR>
<br>

<button id="anthony" onClick="anthony()"> Jeux Anthony </button>
<button id="anthony" onClick="clement()"> Jeux Clément </button>

<br>
<br>

<img src="http://thecatapi.com/api/images/get?format=src&type=gif">