<!--
    (c) Platypus SAS 2015-2016
    Release version - v2
    Author - Jules & Franck Lepoivre
    Release date - 2016/03/04 - TP 2 ESILV 2A ACS - Labyrinthes
    
    
    1) Intégrer le code fourni à l’IHM maquettée
        ­ D’abord générer le code HTML du labyrinthe  : adapter la fonction print_maze pour qu’elle produise votre code HTML / CSS de maquette. 
        ­ Ajouter une fonction de callback pour que le bouton nouvelle partie, dans la nav_bar déplace l’utilisateur vers la page PLAY et déclenche la génération d’un nouveau labyrinthe. 
        ==> Suivant les contraintes du modèle MVC, on scinde le code de génération du labyrinthe (dans laby_model.js) et celui de l'affichage et de l'interaction utilisateur (laby.js).
-->
<html>
<head>
    <meta charset="utf-8"/>
    <title>PLAY LABYRINTHE GAME</title>
    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../brudele/style/laby.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body onkeydown="uniKeyCode(event)">
    <nav>
        <a  href="home.html">Home</a> 
        <a class="cur" href="/brudele/accueil">New game</a> 
        <a href="/brudele/score">Scores</a>
    </nav>
    <div class="content">
        <!--  gestion du chrono et des scores -->
        <div style="visibility:hidden;" id="aside">
            <aside>
                <div id="board" style="align:left;">
                    <p>
                        <span id="name1">Player 1</span> | 
                        <span id="timer1">Time</span> | 
                        <span id="score1">Score</span>
                    </p>
                    <!--p>Time | Player 2 | Score</p-->
                </div>
            </aside>
        </div>
        <div id="maze">
            
        </div>  
    </div>
    <footer>
      <img src="../../brudele/img/logo.png">
      <p>&copy; Platypus S.A.S. 2015-16</p>
      <p>Designed for Chrome</p>
      <p>Contact information: <a href="mailto:franck.lepoivre@platypus.academy">franck.lepoivre@platypus.academy</a>.</p>
    </footer>
        <!--­ En bonus: Ajouter la possibilité de préciser, à travers une fenêtre modale, les dimensions du labyrinthe, en proposant d’une part des dimensions par défaut (ex: 20 x 20) , et en contraignant d’autre part (saisie sécurisée) ces dimensions à un maximum que vous fixerez.  
        ­ Astuce: intégrer Bootstrap pour utiliser leur fenêtre modale : https://www.bootstrapcdn.com/ pour les inclusions nécessaires, http://www.w3schools.com/bootstrap/bootstrap_modal.asp pour la modale
        -->
              
        <script type="text/javascript" src="../../brudele/script/laby_model.js"></script>
        <script type="text/javascript" src="../../brudele/script/laby.js"></script>
        <script>
            //on relie le bouton de lancement à la fonction de démarrage du jeu
            $(function(){ 
                $("#launch").on('click', main);
            })
        </script>
</body>
